.container-cards {  
  overflow: initial;
  margin-top: 1%;
  width: 75%;
  height: 100%;
  float: right;
  // background-color: red;

  .controler-cards {
    overflow: hidden;
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .card {
    margin-top: 1%;
    width: 200px;
    height: 250px;
    background-color: #fedcff;

    border-radius: 10px;

    box-shadow: 5px 5px 10px rgb(0 0 0 / 0.2);

    h1 {
      margin-left: 3%;
      margin-top: 3%;
    }
    p {
      margin-top: 2%;
      width: 90%;
      margin-left: 3%;
    }
  }
  .card__add {
    cursor: pointer;
    margin-top: 1%;
    width: 200px;
    height: 250px;
    background-color: rgb(255, 220, 226);

    border-radius: 10px;

    box-shadow: 5px 5px 10px rgb(0 0 0 / 0.2);

    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 60px;
    }
  }

  .form-main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0%;
    z-index: -1;
    
    width: 100%;
    height: 100%;

    // background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
  }
  .form-exercice {
    position: fixed; 
    // top: 8%;
 
   
    transform: scale(0);
    z-index: -1;
    
   
    margin-top: 1%;
    width: 500px;
    height: 350px;
    background-color: rgb(255, 220, 226);

    border-radius: 10px;

    box-shadow: 5px 5px 10px rgb(0 0 0 / 0.2);

    display: flex;
    justify-content: center;

    h1 {
      margin-top: 5%;
      margin-left: 5%;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        width: 90%;
        height: 30px;

        border: none;
        border-radius: 10px;

        margin-top: 2%;

        outline: 2px solid rgb(219, 68, 239);
      }
      label {
        margin-top: 2%;
      }

      .area {
        height: 100px;
      }

    }

    button{
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;

      padding: 10px 20px;
      border-radius: 10px;

      border: 2px solid #f9cdfb ;
      background-color: transparent;

      box-shadow: -4px 4px 5px rgb(0 0 0 / 0.2);
    }
  }
}
