.container-cards {  
  overflow: initial;
  margin-top: 1%;
  width: 75%;
  height: 100%;
  float: right;
  // background-color: red;
  background-color: transparent;

  .controler-cards {
    overflow: initial;
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .card {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin-top: 1%;
    width: 200px;
    height: 250px;
    background-color: #fedcff;

    border-radius: 10px;

    box-shadow: 5px 5px 10px rgb(0 0 0 / 0.2);

    transition: all .3s;
    &:hover{
      transform: scale(0.9);
      border: 1px solid #000;
    }

    h1 {
      margin-left: 3%;
      margin-top: 3%;
      text-align: center;
    }
    p {
      overflow: hidden;
      margin-top: 10%;
      width: 90%;
     
      margin-left: 3%;
      text-align: center;
      height: 60px;
    }
    
  }
  .card__add {
    cursor: pointer;
    margin-top: 1%;
    width: 200px;
    height: 250px;
    background-color: rgb(255, 220, 226);

    border-radius: 10px;

    box-shadow: 5px 5px 10px rgb(0 0 0 / 0.2);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .3s;

    &:hover{
      border: 1px solid #000;
    }

    h1 {
      font-size: 60px;
    }
  }

  .form-main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0%;
    z-index: -1;
    
    width: 100%;
    height: 100%;

    // background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
  }
  .form-exercice {
    overflow: hidden;
    position: fixed; 
    // top: 8%;
 
   
    transform: scale(0);
    z-index: -1;
    
   
    margin-top: 1%;
    width: 500px;
    height: 350px;
    background-color: rgb(255, 220, 226);

    border-radius: 10px;

    box-shadow: 5px 5px 10px rgb(0 0 0 / 0.2);

    display: flex;
    justify-content: center;

    h1 {
      margin-top: 5%;
      margin-left: 5%;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        width: 90%;
        height: 30px;

        border: none;
        border-radius: 10px;

        margin-top: 2%;

        outline: 2px solid rgb(219, 68, 239);
      }
      label {
        margin-top: 2%;
      }

      .area {
        height: 100px;
      }

    }

    button{
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;

      padding: 10px 20px;
      border-radius: 10px;

      border: 2px solid #f9cdfb ;
      background-color: transparent;

      box-shadow: -4px 4px 5px rgb(0 0 0 / 0.2);
    }
    .submit-div{
      position: absolute;
      width: 100px;
      height: 100px;

      bottom: -12%;
    
    }
  }
}

.alert{
  position: fixed;
  left: 60%;
  top: 10%;

  transform: translate(-40%, -50%);
}

.card__add.regular{
  display: none;
}

.modal {
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;

  width: 400px;
  height: 350px;
  background-color: rgb(255, 220, 226);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1{
    text-align: center;
  }
  p {
    margin-top: 5%;
    width: 80%;
    text-wrap: wrap;
  }

  button{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;

    padding: 10px 20px;
    border-radius: 10px;

    border: 2px solid #f9cdfb ;
    background-color: transparent;

    box-shadow: -4px 4px 5px rgb(0 0 0 / 0.2);
  }
  .delete{
    position: absolute;
    bottom: 15%;
    right: 1%;  

    button{

      :first-child{
        color: #ff0000;
        // font-size: 20px;
      }
    }
   
  }
}
.cards{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

@media screen and (min-width: 200px) and (max-width: 500px) {
  .container-cards {  
    margin-top: 30%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  
    .controler-cards {
   
      justify-content: center;
      gap: 0px;
     
    }
  
    .card {
      transform: scale(0.9);
      border: 1px solid #000;
    
      .delete{
  
        :first-child{
          font-size: 30px;
        }
      }
  
      
    }
    .card__add {
      overflow: initial;
      position: fixed;
      bottom: 3%;
      right: 7%;
      border-radius: 50%;
      // transform: scale(0.9);
      width: 60px;
      height: 60px;

      border: 1px solid #000;

      h1{
        font-size: 30px;
      }
    }
  
   
    .form-exercice {
  
      width: 90%;
 
  
      h1 {
        margin-top: 15%;
      }
  
      
    }
  }
  .modal {
    
  
    width: 90%;
    height: 350px;
    h1{
      font-size: 40px;
      text-align: center;
    }

  }
  .cards{
    justify-content: center;
  }
}
